@import "tailwindcss";

.active{
    background-color: #333;
    color: white;
    font-weight: 600;
    padding: 4px 20px;
    border-radius: 10px;
    transition: 0.5s all;
}

button{
    transition: 0.5s all;
    cursor: pointer;
}